<h1><%= t('.title') %></h1>

<p><%= ItemCategory.human_attribute_name(:item_category_name) %></p>
<% if @item_categories.present? %>
  <%= render partial: 'preset_category_form', collection: @item_categories, as: 'item_category', locals: { preset: @preset } %>
<% end %>

<%= render 'preset_category_form', { item_category: @item_category, preset: @preset } %>
