<div>
  <%= link_to t('defaults.preset'), presets_path %>
  <%= link_to t('defaults.inventory_list'), inventory_lists_path %>
  <%= link_to t('defaults.purchase_list'), purchase_lists_path %>
  <%= link_to t('defaults.schedule'), '#' %>
</div>