<% content_for(:title, t('.title')) %>

<div class = 'text-secondary'>
  <div class = 'mx-auto px-4 supports_text_block'>
    <h1 class = 'text-primary'>プライバシーポリシー</h1>
    <p class = 'margin_bottom_less'>LIVE Pl@nning（以下，「当方」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，登録ユーザーの皆さま（以下、「ユーザー」といいます。）の個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
  </div>

  <div class = 'mx-auto px-4 supports_text_block'>
    <h2 class = 'text-success'>ユーザーから取得する情報</h2>
    <p class = 'margin_bottom_less'>当方は、ユーザーから以下の情報を取得します。</p>
    <li class = 'ml-4'>ユーザーネーム</li>
    <li class = 'ml-4'>メールアドレス</li>
    <li class = 'ml-4'>Cookie（クッキー）を用いて生成された識別情報</li>
    <li class = 'ml-4'>OSが生成するID、端末の種類、端末識別子等のユーザーが利用するOSや端末に関する情報</li>
    <li class = 'ml-4'>当方ウェブサイトの滞在時間、入力履歴等の当方ウェブサイトにおけるユーザーの行動履歴</li>
    <li class = 'ml-4'>その他当サービスが定める入力フォームにユーザーが入力する情報</li>
  </div>

  <div class = 'mx-auto px-4 supports_text_block'>
    <h2 class = 'text-success'>ユーザーの情報を利用する目的</h2>
    <p class = 'margin_bottom_less'>当方は、ユーザーから取得した情報を、以下の目的のために利用します。</p>
    <li class = 'ml-4'>当方サービスに関する登録の受付、ユーザーの本人確認、認証のため</li>
    <li class = 'ml-4'>ユーザーの当方サービスの利用履歴を管理するため</li>
    <li class = 'ml-4'>当方サービスにおけるユーザーの行動履歴を分析し、当方サービスの維持改善に役立てるため</li>
    <li class = 'ml-4'>ユーザーからのお問い合わせに対応するため</li>
    <li class = 'ml-4'>当方の規約や法令に違反する行為に対応するため</li>
    <li class = 'ml-4'>当方サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
    <li class = 'ml-4'>当方規約の変更等を通知するため</li>
    <li class = 'ml-4'>以上の他、当方サービスの提供、維持、保護及び改善のため</li>
  </div>

  <div class = 'mx-auto px-4 supports_text_block'>
    <h2 class = 'text-success'>第三者提供</h2>
    <p class = 'margin_bottom_less'>当方は、ユーザーから取得する情報のうち、個人データ（個人情報保護法第16条第3項）に該当するものについては、あらかじめユーザーの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。但し、次の場合は除きます。</p>
    <li class = 'ml-4'>個人データの取扱いを外部に委託する場合</li>
    <li class = 'ml-4'>当方や当方サービスが買収された場合</li>
    <li class = 'ml-4'>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
    <li class = 'ml-4'>その他、法律によって合法的に第三者提供が許されている場合</li>
  </div>

  <div class = 'mx-auto px-4 supports_text_block'>
    <h2 class = 'text-success'>アクセス解析ツール</h2>
    <p class = 'margin_bottom_less'>当方は、ユーザーのアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用します。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは <%= link_to 'Googleアナリティクス利用規約', 'https://marketingplatform.google.com/about/analytics/terms/jp/', target: '_blank' %> をご覧ください。</p>
  </div>

  <div class = 'mx-auto px-4 supports_text_block'>
    <h2 class = 'text-success'>プライバシーポリシーの変更</h2>
    <p class = 'margin_bottom_less'>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
  </div>

  <div class = 'mx-auto px-4 supports_text_block'>
    <h2 class = 'text-success'>お問い合わせ</h2>
    <p class = 'margin_bottom_less'>ユーザーの情報の開示、情報の訂正、利用停止、削除をご希望の場合は、お問い合わせにてその旨をご連絡ください。</p>
  </div>

  <div class = 'mx-auto px-4 text-right text-body'>
    <p>以上</p>
    <p>2023年8月29日制定</p>
  </div>
</div>
