/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "font-awesome";

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #dee2e6;
  background-color: #f8f9fa;
}
.login_form {
  margin-top: -70px;
  padding-top: 180px;
}
.signin_form {
  margin-top: -70px;
  padding-top: 130px;
  margin-bottom: 50px;
}
.password_reset_form {
  padding-top: 70px;
}
.list_form {
  margin-top: 90px;
  margin-bottom: 50px;
}
.category_form {
  margin-top: 50px;
  margin-bottom: 50px;
}
.item_form {
  margin-top: 70px;
  margin-bottom: 50px;
}
.profile_form {
  margin-top: 90px;
  margin-bottom: 50px;
}
.schedule_form {
  margin-top: 50px;
  margin-bottom: 50px;
}
.profile_page_margin {
  margin-top: 80px;
  margin-bottom: 50px;
}
.signin_width {
  max-width: 430px;
}
.password_reset_width {
  max-width: 500px;
}
.list_width {
  max-width: 430px;
}
.category_width {
  max-width: 500px;
}
.category_btn-group_margin {
  width: auto;
  margin: 10px 0 10px 10px;
}
.category_btn_width {
  width: 50px;
}
.item_width {
  max-width: 500px;
}
.profile_width {
  max-width: 430px;
}
.title_margin {
  margin-top: 1rem;
}
.item_less_margin {
  margin: 30px 0;
}
.p_margin_auto {
  margin: auto 0;
}
.card_margin {
  margin: 30px auto;
}
.btn-group_margin {
  margin: 10px 0;
}
.btn_group_upper {
  margin: 10px 0 20px 0;
}
.btn_group_lower {
  margin: 10px 0;
}
.btn_margin {
  margin-bottom: 10px;
}
.arrow_margin {
  margin: auto 0;
}
.paginate {
  width: 100%;
  margin-top: 10px;
}
.breadcrumb {
  margin-bottom: 0;
}
.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}
.top_bg {
  background-color: #3b82f680;
}
.top_page {
  background-image: image-url('live_image.jpg');
  height: 544px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.margin_top {
  padding: 2% 5%;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
}
.top_image {
  width: 270px;
  height: 180px;
}
.margin_bottom_less {
  margin-bottom: 0;
}
.top_image_margin {
  margin: auto 0;
}
.mypage_margin {
  margin: 70px 0;
}
.mypage_title_margin {
  margin: 1rem 0;
}
.fm_margin_bottom {
  margin-bottom: 0;
}
.use_btn {
  float: right;
}
.check_label_margin {
  margin-right: 40px;
}
.check_label_border {
  border-bottom: 2px solid rgb(127, 214, 214);
}
/* モーダルの必要数が増えた場合ここに増やす */
#modal1 {
  display: block;
}
#modal2 {
  display: none;
}
#modal3 {
  display: none;
}
#modal4 {
  display: none;
}
#modal5 {
  display: none;
}
.modal_image {
  width: 100%;
  height: 100%;
}
.modal_redisplay_right {
  text-align: right;
}
body.open_modal {
  overflow: hidden;
}
.bg_modal_window {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
body.open_modal .bg_modal_window {
  opacity: 1;
  visibility: visible;
}
.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
  max-width: 800px;
  min-width: 350px;
  background-color: #fff;
}
